.user-profile {
  height: 200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.user-profile img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}