html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	background-color: DarkSeaGreen;
	list-style: none;
	padding: 5px;
	border: 2px solid DarkSlateGray;
	border-radius: 4px; 
	margin-right: 20px;
}

#book-title {
	width: fit-content;
	margin: auto;
	font-size: larger;
}

@media screen and (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.container > * {
		margin: 15px;
	}

	.container header {
		order: -2;
	}

	.container .aside-two {
		order: -1;
	}