* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: brown;
  font-weight: 600;
}

#titulo {
  text-align: center;
  padding-top: 15px;
  font-family: Montserrat Alternates, sans-serif;
  line-height: 42px;
}

#navegacao_principal {
  margin-left: 10px;
}

#navegacao_principal li {
  display: inline-block;
  font-family: monospace;
  font-size: 20px;
  padding: 10px;
  border: solid 3px brown;
  margin-bottom: 10px;
}

#navegacao_principal li:hover {
  border: dashed 3px white;
  color: white;
}

#figura_ao_lado {
  float: right;
  background-image: url('pimentinhas.png');
  background-position: 50%;
  width: 300px;
  height: 768px;
}

#minha_foto {
  display: none;
}

#listas {
  margin-bottom: 20px;
  padding-top: 150px;
}

#listas h2 {
  margin: 0 0 20px 40px;
}

.licoes {
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  width: 450px;
  vertical-align: top;
  padding: 10px;
  margin: 10px;
  border: black 4px double;
}
